body {
  color: red;
  background-color: coral;
}
 

h1 {
  color: rgb(0, 255, 42);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:oblique;
  font-size: 40px;
}
h2 {
  color:aqua;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 22px;
}
h3 {
  color:gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  padding:.25em;
}
 h4 {
  color:gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  padding:.20em;
 }

 h5 {
  color:gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 27px;
  padding:.15em;
 }

p {
  color:gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  padding:2em;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}